@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500;600;800&display=swap');

$main-color: #e85a4f;
$main-color-darker: #d04d43;


html, body {
  font-family: 'Jost', sans-serif;
  height: 100%;
  font-weight: 300;
  background-color: #3a3a3a;
}

#root {
  height: 100%;
}

::placeholder {
  font-weight: 300;
}

.btn {
  &.btn-custom {
    background-color: $main-color;
    color: #fff;
    &:hover {
      background-color: $main-color-darker;
    }
  }
}